services:
  - type: web
    name: nxcor-relay
    runtime: node
    rootDir: server
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: PORT
        value: 8080
      - key: NODE_ENV
        value: production
